@implements IDisposable
@inject NavigationManager NavigationManager


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <!-- DROPDOWN MENU BUTTON -->
        <div class="nav-item px-3 dropdown">
            <button class="nav-link dropdown-toggle w-100 text-start"
                    id="mainMenuDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="bi bi-list-stars-nav-menu" aria-hidden="true"></span>
                Menu
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="mainMenuDropdown">
                <li>
                    <NavLink class="dropdown-item" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="mainview">
                        <span class="bi bi-list-nested" aria-hidden="true"></span> Päänäkymä
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="search">
                        <span class="bi bi-search" aria-hidden="true"></span> Haku
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="adminpanel">
                        <span class="bi bi-people" aria-hidden="true"></span> Käyttäjien hallinta
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="auth">
                        <span class="bi bi-lock" aria-hidden="true"></span> Auth Required
                    </NavLink>
                </li>
@* 
                <AuthorizeView>
                    <Authorized> *@
@*                         <li>
                            <NavLink class="dropdown-item" href="Account/Manage">
                                <span class="bi bi-person-fill" aria-hidden="true"></span>
                                @context.User.Identity?.Name
                            </NavLink>
                        </li> *@
                        <li>
                            <form action="Account/Logout" method="post" class="dropdown-item p-0">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="btn btn-link w-100 text-start">
                                    <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </li>
@*                     </Authorized>
                    <NotAuthorized> *@
                        <li>
                            <NavLink class="dropdown-item" href="Account/Register">
                                <span class="bi bi-person" aria-hidden="true"></span> Register
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="Account/Login">
                                <span class="bi bi-person-badge" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
@*                     </NotAuthorized>
                </AuthorizeView> *@
            </ul>
        </div>



    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}


@* <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><NavLink class="dropdown-item" href="" Match="NavLinkMatch.All"><span class="bi bi-house-door-fill" aria-hidden="true"></span> @Localizer["Home"]</NavLink></li>

                <li><NavLink class="dropdown-item" href="Account/Manage"><span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name</NavLink></li>

                        <li><NavLink class="dropdown-item" href="@($"Users?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Users"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="@($"Horses?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Horses"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="Companies"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Stables"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="@($"Categories?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Categories"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="@($"Pages?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Pages"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="@($"Alerts?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Alerts"]</NavLink></li>
                        <li><NavLink class="dropdown-item" href="@($"weekview?companyId={CurrentCompanyId}")"><span class="bi bi-lock" aria-hidden="true"></span> @Localizer["Weekly view"]</NavLink></li>

                <li>
                    <form action="Account/Logout" method="post" class="dropdown-item">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link"><span class="bi bi-arrow-bar-left" aria-hidden="true"></span> @AccountLoc["Logout"]</button>
                    </form>
                </li>


                <li><NavLink class="dropdown-item" href="Account/Register"><span class="bi bi-person" aria-hidden="true"></span> @Localizer["Register"]</NavLink></li>
                <li><NavLink class="dropdown-item" href="Account/Login"><span class="bi bi-person-badge" aria-hidden="true"></span> @AccountLoc["Login"]</NavLink></li>

    </ul>
</div>

@code {

}
 *@